body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0px;
}
#header {
    display: block;
    text-align: center;
    margin-top: 10px;
}
#title{
    margin: 0px auto;
    width: min-content;
    vertical-align: text-top;
}
#telefon_button_div{
    border: 2px solid white ;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    margin: 0px 10px 0px auto;
    padding: 4px 8px;
    width: fit-content;
}
#telefon_button{
    text-decoration: none;
    font-size: 20px;
    color: white;
}